*.[oa]
*~
*.Plo
*.pc
*.Po
*.la
*.lo
CMakeFiles
CMakeCache.txt
CMakeLists.txt.user
*.cxx_parameters
autom4te.cache
!cmake_modules
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake

*.cxx

config.guess

config.log
config.sub
config.status
.libs
.deps
*.depends
install-sh
libtool
stamp-h1
.dirstamp
autostuff


aclocal.m4



moc_*.cpp
moc_*.cpp_parameters

DSView-prj
build*
share
.vscode
qtpro
test
qtpro5
.DS_Store
.qt
win32x
qrc_*
install_manifest.txt
